@model LonghornBank.Models.PurchaseStockTrade

@{
    ViewBag.Title = "Stock Trade and Transaction";
}

<h2>Create a Stock Trade and Transaction</h2>

    <div class="form-horizontal">

    <h4>Select the Stock you would like to buy</h4>
        <hr />
    <div>
        @Html.ActionLink("All Stocks", "Index", "StockMarkets", null, htmlAttributes: new { @class = "btn btn-success" })
        @Html.ActionLink("Ordinary Stocks", "ViewSelectedStock", new { id = 1 }, new { @class = "btn btn-default" }) 
        @Html.ActionLink("Mutual Funds", "ViewSelectedStock", new { id = 2 }, new { @class = "btn btn-default" })
        @Html.ActionLink("Index Funds", "ViewSelectedStock", new { id = 3 }, new { @class = "btn btn-default" })
        @Html.ActionLink("ETFs", "ViewSelectedStock", new { id = 4 }, new { @class = "btn btn-default" })
        @Html.ActionLink("Future Shares", "ViewSelectedStock", new { id = 5 }, new { @class = "btn btn-default" })
        @Html.ActionLink("Other Shares", "ViewSelectedStock", new { id = 6 }, new { @class = "btn btn-default" })
    </div>

    </div>

