@model LonghornBank.Models.TradeDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trade</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gains)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gains)
        </dd>

    </dl>
    @if (Model.Type == LonghornBank.Models.TradeType.Buy)
    {
        @Html.ActionLink("Sell", "SellStockOptions", "StockTrades", new { StockSaleID = Model.StockMarketID, StockAccountID = Model.StockAccountID, TradeID = Model.TradeID }, new { @class = "btn btn-default" })
    }
    
</div>

