@using LonghornBank.Models
@model LonghornBank.Models.IRA

@{
    ViewBag.Title = "Details";
    List<BankingTransaction> IRATransactions = ViewBag.IRATransactions;
}

<h2>Details</h2>

<div>
    <h4> @Html.DisplayFor(model => model.Name) -  Saving Account</h4>
    @Html.ActionLink("View All Account Transactions", "Index", "BankingTransactions", new { id = Model.Customer.CustomerID }, null)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PendingBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PendingBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            Transaction ID
        </th>
        <th>
            Transaction Type
        </th>
        <th>
            Transaction Date
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in IRATransactions)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.BankingTransactionID)</td>
            <td>@Html.DisplayFor(modelItem => item.BankingTransactionType)</td>
            <td>@Html.DisplayFor(modelItem => item.TransactionDate)</td>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "BankingTransactions", new { id = item.BankingTransactionID }, null) |
                @Html.ActionLink("Details", "Details", "BankingTransactions", new { id = item.BankingTransactionID }, null) |
                @Html.ActionLink("Delete", "Delete", "BankingTransactions", new { id = item.BankingTransactionID }, null)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IRAID }) |
    @Html.ActionLink("Back To IRA Home", "Index", "IRA", new { id = Model.IRAID }, null)
</p>
