@using LonghornBank.Models
@model LonghornBank.Models.IRA

@{
    ViewBag.Title = "Details";
    List<BankingTransaction> IraTransactions = ViewBag.IraTransactions;
    SelectList Ranges = ViewBag.Ranges;
    SelectList Dates = ViewBag.Dates;
    Int32 ResultsCount = ViewBag.ResultsCount;
}

<h2>Details</h2>

<div>
    <h4> @Html.DisplayFor(model => model.Name) -  Saving Account</h4>
    @Html.ActionLink("View All Account Transactions", "Index", "BankingTransactions", new { id = Model.Customer.Id}, null)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PendingBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PendingBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>




@using (Html.BeginForm("Search", "IRAs", FormMethod.Get))
{
    @Html.HiddenFor(model => model.IRAID);

    <p class="form-group">

        <div class="row">

            <div class="col-md-6">
                Transaction Description:@Html.TextBox("SearchDescription", null, new { @class = "form-control", @placeholder = "Tax Refund" })<br />
            </div>

            <div class="col-md-6">
                Transaction Number:@Html.TextBox("SearchTransactionNumber", null, new { @class = "form-control", @placeholder = "27" })<br />
            </div>

        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="form-check">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.None, true, new { @class = "form-check-input" }) All
                        </label>
                    </div>
                </div>

                <div class="form-check">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.Deposit, new { @class = "form-check-input" }) Deposit
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="form-check">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.Withdrawl, new { @class = "form-check-input" }) Withdrawl
                        </label>
                    </div>
                </div>

                <div class="form-check">
                    <div class="col-md-6">

                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.Transfer, new { @class = "form-check-input" }) Transfer
                        </label>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="form-check">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.Fee, new { @class = "form-check-input" }) Fee
                        </label>
                    </div>
                </div>

                <div class="form-check">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.BillPayment, new { @class = "form-check-input" }) Bill Payment
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </p>

    <div class="row">

        <div class="form-check">
            <div class="col-md-4">
                Amount Range @Html.DropDownList("SearchAmountRange", Ranges, new { @class = "form-control" })
                <br />
            </div>
        </div>

        <p class="form-check">
            <div class="col-md-4">
                Start Amount Custom Range @Html.TextBox("SearchAmountBegin", null, new { @class = "form-control", @placeholder = "1000" })
                <br />
            </div>
        </p>

        <p class="form-check">
            <div class="col-md-4">
                End Amount Custom Range @Html.TextBox("SearchAmountEnd", null, new { @class = "form-control", @placeholder = "1000" })
                <br />
            </div>
        </p>

    </div>


    <div class="row">

        <div class="form-check">
            <div class="col-md-4">
                Date Range @Html.DropDownList("DateRange", Dates, new { @class = "form-control" })
                <br />
            </div>
        </div>

        <p class="form-check">
            <div class="col-md-4">
                Start Date @Html.TextBox("BeginSearchDate", null, new { @class = "form-control", @placeholder = "mm/dd/yyyy" })
                <br />
            </div>
        </p>

        <p class="form-check">
            <div class="col-md-4">
                End Date @Html.TextBox("EndSearchDate", null, new { @class = "form-control", @placeholder = "mm/dd/yyyy" })
                <br />
            </div>
        </p>

    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransIDAsc, true, new { @class = "form-check-input" }) Transaction ID Ascending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransIDDec, new { @class = "form-check-input" }) Transaction ID Decending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransTypeAsc, new { @class = "form-check-input" }) Transaction Type Ascending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransTypeDec, new { @class = "form-check-input" }) Transaction Type Decending
                </label>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransDescriptionAsc, new { @class = "form-check-input" }) Transaction Description Ascending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransDescriptionDec, new { @class = "form-check-input" }) Transaction Description Descending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransAmountAsc, new { @class = "form-check-input" }) Transaction Amount Ascending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransAmountDec, new { @class = "form-check-input" }) Transaction Amount Descending
                </label>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransDateAsc, new { @class = "form-check-input" }) Transaction Date Ascending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransDateDec, new { @class = "form-check-input" }) Transaction Date Descending
                </label>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>




}



<p>Records: @Html.Raw(ResultsCount)</p>
<table class="table">
    <tr>
        <th>
            Transaction ID
        </th>
        <th>
            Transaction Type
        </th>
        <th>
            Transaction Date
        </th>
        <th>
            Amount
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in IraTransactions)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.BankingTransactionID)</td>
            <td>@Html.DisplayFor(modelItem => item.BankingTransactionType)</td>
            <td>@Html.DisplayFor(modelItem => item.TransactionDate)</td>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "BankingTransactions", new { id = item.BankingTransactionID }, null) |
                @Html.ActionLink("Details", "Details", "BankingTransactions", new { id = item.BankingTransactionID, choice = 3, AccountId = Model.IRAID }, null)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IRAID }) |
    @Html.ActionLink("Back To IRA Home", "Index", "IRA", new { id = Model.IRAID, choice = 3 }, null)
</p>
