@using LonghornBank.Models;
@model LonghornBank.Models.Saving

@{
    ViewBag.Title = "Saving";
    List<BankingTransaction> SavingsTransactions = ViewBag.SavingsTransactions;
    SelectList Ranges = ViewBag.Ranges;
    SelectList Dates = ViewBag.Dates;
}

<h2>Details</h2>

<div>
    <h4> @Html.DisplayFor(model => model.Name) -  Saving Account</h4>
    @Html.ActionLink("View Savings Transactions", "Index", "BankingTransactions")
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PendingBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PendingBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>


@using (Html.BeginForm("Search", "Savings", FormMethod.Get))
{
    @Html.HiddenFor(model => model.SavingID);

    <p class="form-group">
        Transaction Description:@Html.TextBox("SearchDescription", null, new { @class = "form-control" })<br />

        <div class="form-group">

            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedType", BankingTranactionType.None, true, new { @class = "form-check-input" }) All
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedType", BankingTranactionType.Deposit, new { @class = "form-check-input" }) Deposit
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedType", BankingTranactionType.Withdrawl, new { @class = "form-check-input" }) Withdrawl
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedType", BankingTranactionType.Transfer, new { @class = "form-check-input" }) Transfer
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedType", BankingTranactionType.Fee, new { @class = "form-check-input" }) Fee
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedType", BankingTranactionType.BillPayment, new { @class = "form-check-input" }) Bill Payment
                </label>
            </div>
        </div>
        Transaction Number:@Html.TextBox("SearchTransactionNumber", null, new { @class = "form-control" })<br />
    </p>

    <div class="form-check">
        Amount Range @Html.DropDownList("SearchAmountRange", Ranges, new { @class = "form-control" })
        <br><br />
    </div>

    <p class="form-group">
        Start Amount Custom Range @Html.TextBox("SearchAmountBegin", null, new { @class = "form-control" }) End Amount Custom Range @Html.TextBox("SearchAmountEnd", null, new { @class = "form-control" }) <br />
    </p>

    <div class="form-check">
        Date Range @Html.DropDownList("DateRange", Dates, new { @class = "form-control" })
        <br><br />
    </div>

    <p class="form-group">
        Start Date @Html.TextBox("BeginSearchDate", null, new { @class = "form-control" }) End Date @Html.TextBox("EndSearchDate", null, new { @class = "form-control" }) <br />
    </p>

    <div class="form-group">

        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("SortType", SortingOption.TransIDAsc, true, new { @class = "form-check-input" }) Transaction ID Ascending
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("SortType", SortingOption.TransIDDec, new { @class = "form-check-input" }) Transaction ID Decending
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("SortType", SortingOption.TransTypeAsc, new { @class = "form-check-input" }) Transaction Type Ascending
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("SortType", SortingOption.TransTypeDec, new { @class = "form-check-input" }) Transaction Type Decending
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("SortType", SortingOption.TransDescriptionAsc, new { @class = "form-check-input" }) Transaction Description Ascending
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("SortType", SortingOption.TransDescriptionDec, new { @class = "form-check-input" }) Transaction Description Descending
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("SortType", SortingOption.TransAmountAsc, new { @class = "form-check-input" }) Transaction Amount Ascending
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("SortType", SortingOption.TransAmountDec, new { @class = "form-check-input" }) Transaction Amount Descending
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("SortType", SortingOption.TransDateAsc, new { @class = "form-check-input" }) Transaction Date Ascending
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("SortType", SortingOption.TransDateDec, new { @class = "form-check-input" }) Transaction Date Descending
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>




}


<table class="table">
    <tr>
        <th>
            Transaction ID
        </th>
        <th>
            Transaction Type
        </th>
        <th>
            Transaction Date
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in SavingsTransactions)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.BankingTransactionID)</td>
            <td>@Html.DisplayFor(modelItem => item.BankingTransactionType)</td>
            <td>@Html.DisplayFor(modelItem => item.TransactionDate)</td>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "BankingTransactions", new { id = item.BankingTransactionID }, null) |
                @Html.ActionLink("Details", "Details", "BankingTransactions", new { id = item.BankingTransactionID }, null) |
                @Html.ActionLink("Delete", "Delete", "BankingTransactions", new { id = item.BankingTransactionID }, null)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SavingID }) |
    @Html.ActionLink("Back Saving Home", "Index", "Savings", new { id = Model.SavingID }, null)
</p>

