@model LonghornBank.Models.Saving

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Saving</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PendingBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PendingBalance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SavingID }) |
    @Html.ActionLink("Back To Savings Home", "Index", "Savings", new { id = Model.SavingID }, null)
</p>
