@using LonghornBank.Models;
@model IEnumerable<LonghornBank.Models.DepositApprovalViewModel>


<h2>Deposit Approval</h2>
<h6>This is a list of deposits awaiting your approval. Check the box to approve</h6>

<h5>@ViewBag.SuccessMessage</h5>

<table class="table">
    <tr>
        <th>
            Deposit Date
        </th>
        <th>
            Deposit Approval Status
        </th>
        <th>
            Customer First Name
        </th>
        <th>
            Customer Last Name
        </th>
        <th>
            Deposit Amount
        </th>
        <th>
            Description
        </th>
        <th>
            Approve
        </th>
        <th></th>
    </tr>
   
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.BankingTransaction.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(model=>item.BankingTransaction.ApprovalStatus)
                </td>
                <td>
                    @Html.DisplayFor(model => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.BankingTransaction.Amount)
                </td>
                <td>
                    @Html.DisplayFor(model => item.BankingTransaction.Description)
                </td>
                @using (Html.BeginForm("DepositApproval", "Managers", FormMethod.Post))
                {
                    <td>
                        @Html.Hidden("BankingTransactionID", item.BankingTransaction.BankingTransactionID)
                        
                    </td>
                    <td>
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </td>
                }
                
            </tr>
        }
    


</table>




<br />
@Html.ActionLink("Manager Home", "Index", "Managers")
