@model LonghornBank.Models.DisputesViewModel



<h2>Dispute Management Detailed View</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dispute Management-Detailed View</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DisputedTransaction.BankingTransactionID)
        <a>@Model.Customer.FName</a>
        <a>@Model.Customer.LName</a>
        <a>@Model.Customer.Id</a>
        <div class="form-group">
            @Html.LabelFor(model => model.DisputedTransaction.TransactionDispute, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.DisputedTransaction.TransactionDispute, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DisputedTransaction.TransactionDispute, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisputedTransaction.TransactionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisputedTransaction.TransactionDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DisputedTransaction.TransactionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisputedTransaction.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisputedTransaction.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DisputedTransaction.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisputedTransaction.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisputedTransaction.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DisputedTransaction.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisputedTransaction.DisputeMessage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisputedTransaction.DisputeMessage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DisputedTransaction.DisputeMessage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisputedTransaction.CustomerOpinion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisputedTransaction.CustomerOpinion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DisputedTransaction.CustomerOpinion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisputedTransaction.CorrectedAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisputedTransaction.CorrectedAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DisputedTransaction.CorrectedAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisputedTransaction.ManagerDisputeMessage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisputedTransaction.ManagerDisputeMessage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DisputedTransaction.ManagerDisputeMessage, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DisputedTransaction.BankingTransactionType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.DisputedTransaction.BankingTransactionType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DisputedTransaction.BankingTransactionType, "", new { @class = "text-danger" })
                @Html.HiddenFor(model=>model.DisputedTransaction.BankingTransactionID)
                @Html.HiddenFor(model=>model.DisputedTransaction.CheckingAccount)
                @Html.HiddenFor(model=>model.DisputedTransaction.IRAAccount)
                @Html.HiddenFor(model=>model.DisputedTransaction.SavingsAccount)
                @Html.HiddenFor(model=>model.Customer.Email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

