@model IEnumerable<LonghornBank.Models.Employee>


@{
    ViewBag.Title = "FreezeEmployees";
}

<h2>Freeze Employees</h2>
<h5>A checked box in the Current Frozen Status Column indicates the employee's account is currently frozen</h5>
@ViewBag.ConfirmationMessage
@using (Html.BeginForm("FreezeEmployees", "Managers", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                EMail
            </th>
            <th>
                Current Frozen Status
            </th>
            <th>
                Freeze Account?
            </th>
            <th>
                Unfreeze Account?
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveStatus)
                </td>
                @using (Html.BeginForm("FreezeEmployees", "Managers", FormMethod.Post))
                    {   @Html.HiddenFor(modelItem => item.EmployeeID, new { Name = "EmployeeID" })
                    <td>
                        @Html.RadioButton("Freeze", true, new { @class = "form-check-input" })
                    </td>
                        <td>
                            @Html.RadioButton("Freeze", false, new { @class = "form-check-input" })
                        </td>
                        <td>

                            <input type="submit" value="Commit" class="btn btn-success" />
                        </td>

                }
           </tr>
        }



    </table>


    <input type="submit" value="Submit" class="btn btn-success" />
}

<br />
<br />
@Html.ActionLink("Manager Home", "Index", "Managers")

