@using LonghornBank.Models;
@model IEnumerable<LonghornBank.Models.BankingTransaction>

@{
    ViewBag.Title = "Index";
}

<h1>Manager Portal</h1>
@ViewBag.Confirmation
<br />
<br />
@Html.ActionLink("Resolve Disputes", "Disputes")
<br />
@Html.ActionLink("Approve Deposits", "DepositApproval")
<br />
@Html.ActionLink("Freeze Employees", "FreezeEmployees")
<br />
@Html.ActionLink("Freeze Customers", "FreezeCustomers")
<br />
@Html.ActionLink("View All Disputes Ever Made", "ViewAllDisputes")
<br/>
@Html.ActionLink("Run Balanced Portfolio Bonus", "BalancedPortfolioSuccess")
<br />
@Html.ActionLink("Approve Stock Account Applications", "ApproveStockAccounts")
<br/>
@Html.ActionLink("Create Employee", "Create", "Employees")
<br />
@Html.ActionLink("Fire/Rehire Employees", "FireEmployees")


