@using LonghornBank.Models;
@model IEnumerable<LonghornBank.Models.BankingTransaction>

@{
    ViewBag.Title = "Index";
}

<h1>Manager Portal</h1>
@ViewBag.Confirmation
<br />
@Html.ActionLink("Resolve Disputes", "Disputes")
@Html.ActionLink("Approve Deposits", "DepositApproval")
@Html.ActionLink("Freeze Employees", "FreezeEmployees")
@Html.ActionLink("Freeze Customers", "FreezeCustomers")
@Html.ActionLink("View All Disputes Ever Made", "ViewAllDisputes")
@Html.ActionLink("Run Balanced Portfolio Bonus", "BalancedPortfolioSuccess")


