@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Profile", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (User.IsInRole("Customer"))
            {
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Details", "Profile", routeValues: null, htmlAttributes: new { title = "Details" })
            }
            else
            {
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Details", "Manager", routeValues: null, htmlAttributes: new { title = "Details" })
            }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Profile", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Profile", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
