@model LonghornBank.Models.PayeeViewModel

@{
    ViewBag.Title = "PayBillsPage";

}

<h2>Pay Bills</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.UserCustomerProfile.Id)

    <table class="table">
        <tr>
            <th>
                Payee Name
            </th>
            <th>
                Payee Type
            </th>
            <th>
                Checking Accounts
            </th>
            <th>
                Saving Accounts
            </th>
            <th>
                Payment Amount
            </th>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.PayeeAccount)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.Raw(item.Name).ToString(), "EditOwnPayee", new { id = item.PayeeID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayeeType)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.CheckingID, Model.CheckingAccounts, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.SavingID, Model.SavingsAccounts, new { @class = "form-control" })
                </td>
                <td>
                    @Html.EditorFor(model => model.PayeeTransaction.Amount, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(model => model.PayeeTransaction.TransactionDate, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(model => model.PayeeTransaction.Description, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    <input type="submit" value="Pay" class="btn btn-default" />
                </td>
            </tr>
        }

    </table>
}
