@using LonghornBank.Models
@model LonghornBank.Models.AppUser

@{
    ViewBag.Title = "PayPayee";

    // Grab the Tuple from ViewBag
    Tuple<SelectList, SelectList, SelectList> AllAccounts = ViewBag.AllAccounts;

    // Create a SelectList for Checking Accounts
    SelectList CheckingAccounts = AllAccounts.Item1;

    // Create a SelectList for Savings Accounts 
    SelectList SavingsAccounts = AllAccounts.Item2;

    // Create a SelectList for IRA
    SelectList IraAccounts = AllAccounts.Item3;
}

<h2>Pay Payee</h2>

<h3> @Html.Raw(Model.FName)'s Accounts</h3>
<h4>Checking Account(s)</h4>
<p>@Html.ActionLink("Checking Accounts Home", "Index", "Checkings")</p>
<table class="table">
    <tr>
        <th>
            Checking Account Name
        </th>
        <th>
            Checking Account Number
        </th>
        <th>
            Checking Account Balance
        </th>
        <th>
            Checking Account Pending Balance
        </th>
    </tr>

    @foreach (var item in Model.CheckingAccounts)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
            <td>@Html.DisplayFor(modelItem => item.PendingBalance)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Checkings", new { id = item.CheckingID }, null)
            </td>
        </tr>

    }
</table>

<h4>Savings Account(s)</h4>
<p>@Html.ActionLink("Saving Accounts Home", "Index", "Savings")</p>
<table class="table">
    <tr>
        <th>
            Savings Account Name
        </th>
        <th>
            Savings Account Number
        </th>
        <th>
            Savings Account Balance
        </th>
        <th>
            Savings Account Pending Balance
        </th>
    </tr>

    @foreach (var item in Model.SavingAccounts)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
            <td>@Html.DisplayFor(modelItem => item.PendingBalance)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Savings", new { id = item.SavingID }, null) |
            </td>
        </tr>
    }

</table>


