@model LonghornBank.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Portal</h2>

<p>
    @Html.ActionLink("Add New Checking Account", "Create", "Checkings") | 
    @Html.ActionLink("Add New Savings Account", "Create", "Savings") |
    @Html.ActionLink("Add New IRA", "Create", "IRA") |
    @Html.ActionLink("Add New Stock Account", "Create", "StockAccounts") | 
    @Html.ActionLink("Add New Transaction", "Create", "BankingTransactions")

</p>

<body>
    <p>
        @Html.DisplayNameFor(model => model.CustomerID)
    </p>
</body>

<h3>Accounts</h3>
<h4>Checking Account(s)</h4>
<h4>Savings Account(s)</h4>
<h4>IRA Account(s)</h4>
<h4>Stock Portfolio(s)</h4>
