@using LonghornBank.Models
@model LonghornBank.Models.AppUser

@{
    ViewBag.Title = "Index";
    List<Checking> CheckingAccounts = ViewBag.CheckingAccounts;
    List<Saving> SavingsAccounts = ViewBag.SavingsAccounts;
    List<IRA> IRAAccounts = ViewBag.IRAAccounts;
}

<h2>Portal</h2>

<p>
    @Html.ActionLink("Add New Checking Account", "Create","Checkings") | 
    @Html.ActionLink("Add New Savings Account", "Create", "Savings") |
    @Html.ActionLink("Add New IRA", "Create", "IRAs") |
    @Html.ActionLink("Add New Stock Account", "Create", "StockAccounts") | 
    @Html.ActionLink("Add New Transaction", "Create", "BankingTransactions")

</p>

<h3> @Html.Raw(Model.FName)'s Accounts</h3>
<h4>Checking Account(s)</h4>
<p>@Html.ActionLink("Checking Accounts Home", "Index", "Checkings")</p>
<table class="table">
   <tr>
       <th>
           Checking Account Name
       </th>
       <th>
           Checking Account Number
       </th>
       <th>
           Checking Account Balance
       </th>
       <th>
           Checking Account Pending Balance
       </th>
   </tr>

    @foreach (var item in Model.CheckingAccounts)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
            <td>@Html.DisplayFor(modelItem => item.PendingBalance)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Checkings", new { id = item.CheckingID }, null) |
                @Html.ActionLink("Details", "Details", "Checkings", new { id = item.CheckingID }, null) |
                @Html.ActionLink("Delete", "Delete", "Checkings", new { id = item.CheckingID }, null)
            </td>
        </tr>
        
    }

</table>
    <h4>Savings Account(s)</h4>
    <p>@Html.ActionLink("Saving Accounts Home", "Index", "Savings")</p>
<table class="table">
    <tr>
        <th>
            Savings Account Name
        </th>
        <th>
            Savings Account Number
        </th>
        <th>
            Savings Account Balance
        </th>
        <th>
            Savings Account Pending Balance
        </th>
    </tr>

    @foreach (var item in Model.SavingAccounts)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
            <td>@Html.DisplayFor(modelItem => item.PendingBalance)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Savings", new { id = item.SavingID}, null) |
                @Html.ActionLink("Details", "Details", "Savings", new { id = item.SavingID }, null) |
                @Html.ActionLink("Delete", "Delete", "Savings", new { id = item.SavingID }, null)
            </td>
        </tr>
    }

</table>
    <h4>IRA Account(s)</h4>
 <p>@Html.ActionLink("IRA Accounts Home", "Index", "IRA")</p>
<table class="table">
    <tr>
        <th>
            IRA Account Name
        </th>
        <th>
            IRA Account Number
        </th>
        <th>
            IRA Account Balance
        </th>
        <th>
            IRA Account Pending Balance
        </th>
    </tr>

    @foreach (var item in Model.IRAAccounts)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
            <td>@Html.DisplayFor(modelItem => item.PendingBalance)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "IRAs", new { id = item.IRAID }, null) |
                @Html.ActionLink("Details", "Details", "IRAs", new { id = item.IRAID }, null) |
                @Html.ActionLink("Delete", "Delete", "IRAs", new { id = item.IRAID }, null)
            </td>
        </tr>
    }

</table>
        <h4>Stock Portfolio(s)</h4>
        <p>@Html.ActionLink("Stock Accounts Home", "Index", "StockAccounts")</p>
        <table class="table">
            <tr>
                <th>
                    Stock Account Name
                </th>
                <th>
                    Stock Account Number
                </th>
                <th>
                    Stock Account Cash Balance
                </th>
                <th>
                    Stock Account Gains
                </th>
            </tr>

            @foreach (var item in Model.StockAccount)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.CashBalance)</td>
                    <td>@Html.DisplayFor(modelItem => item.Gains)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "StockAccount", new { id = item.StockAccountID }, null) |
                        @Html.ActionLink("Details", "Details", "StockAccount", new { id = item.StockAccountID }, null) |
                        @Html.ActionLink("Delete", "Delete", "StockAccount", new { id = item.StockAccountID }, null)
                    </td>
                </tr>
            }

        </table>
