@using LonghornBank.Models
@model LonghornBank.Models.Customer

@{
    ViewBag.Title = "Index";
    List<Checking> CheckingAccounts = ViewBag.CheckingAccounts;
    List<Saving> SavingsAccounts = ViewBag.SavingsAccounts;
}

<h2>Portal</h2>

<p>
    @Html.ActionLink("Add New Checking Account", "Create","Checkings", new { id = Model.CustomerID }, null) | 
    @Html.ActionLink("Add New Savings Account", "Create", "Savings", new { id = Model.CustomerID }, null) |
    @Html.ActionLink("Add New IRA", "Create", "IRA") |
    @Html.ActionLink("Add New Stock Account", "Create", "StockAccounts") | 
    @Html.ActionLink("Add New Transaction", "Create", "BankingTransactions")

</p>

<h3> @Html.Raw(Model.FName)'s Accounts</h3>
<h4>Checking Account(s)</h4>
<p>@Html.ActionLink("Checking Accounts Home", "Index", "Checkings", new { id = Model.CustomerID }, null)</p>
<table class="table">
   <tr>
       <th>
           Checking Account Name
       </th>
       <th>
           Checking Account Number
       </th>
       <th>
           Checking Account Balance
       </th>
       <th>
           Checking Account Pending Balance
       </th>
   </tr>

    @foreach (var item in Model.CheckingAccounts)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
            <td>@Html.DisplayFor(modelItem => item.PendingBalance)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Checkings", new { id = item.CheckingID }, null) |
                @Html.ActionLink("Details", "Details", "Checkings", new { id = item.CheckingID }, null) |
                @Html.ActionLink("Delete", "Delete", "Checkings", new { id = item.CheckingID }, null)
            </td>
        </tr>
        
    }

</table>
    <h4>Savings Account(s)</h4>
    <p>@Html.ActionLink("Saving Accounts Home", "Index", "Savings", new { id = Model.CustomerID }, null)</p>
<table class="table">
    <tr>
        <th>
            Savings Account Name
        </th>
        <th>
            Savings Account Number
        </th>
        <th>
            Savings Account Balance
        </th>
        <th>
            Savings Account Pending Balance
        </th>
    </tr>

    @foreach (var item in Model.SavingAccounts)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
            <td>@Html.DisplayFor(modelItem => item.PendingBalance)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Savings", new { id = item.SavingID}, null) |
                @Html.ActionLink("Details", "Details", "Savings", new { id = item.SavingID }, null) |
                @Html.ActionLink("Delete", "Delete", "Savings", new { id = item.SavingID }, null)
            </td>
        </tr>
    }

</table>
    <h4>IRA Account(s)</h4>
    <h4>Stock Portfolio(s)</h4>
