@using LonghornBank.Models
@model LonghornBank.Models.AppUser

@{
    ViewBag.Title = "Index";
    List<Checking> CheckingAccounts = ViewBag.CheckingAccounts;
    List<Saving> SavingsAccounts = ViewBag.SavingsAccounts;
    List<IRA> IRAAccounts = ViewBag.IRAAccounts;
    Decimal StockValue = ViewBag.StockAccountValue;
}

<h2>Portal</h2>
@foreach (var item in Model.CheckingAccounts)
{
    if (item.Overdrawn == true)
    {
        <div class="alert alert-danger">
            You have an overdrawn Checking account.
        </div>
    }

}

@foreach (var item in Model.SavingAccounts)
{
    if (item.Overdrawn == true)
    {
        <div class="alert alert-danger">
            You have an overdrawn Saving account.
        </div>
    }
}

@foreach (var item in Model.IRAAccounts)
{
    if (item.Overdrawn == true)
    {
        <div class="alert alert-danger">
            You have an overdrawn IRA account.
        </div>
    }
}

@foreach (var item in Model.StockAccount)
{
    if (item.Overdrawn == true)
    {
        <div class="alert alert-danger">
            You have an overdrawn stock account.
        </div>
    }
}

<p>
    @Html.ActionLink("Add New Checking Account", "Create", "Checkings", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Add New Savings Account", "Create", "Savings", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Add New IRA", "Create", "IRAs", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Add New Stock Account", "Create", "StockAccounts", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Payees", "Index", "Payees", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Pay Bills", "PayBillsPage", "Payees", null, new { @class = "btn btn-info" })

</p>

<h3> @Html.Raw(Model.FName)'s Accounts</h3>
@if (Model.CheckingAccounts.Count > 0)
{
    <h4>Checking Account(s)</h4>
    <p>@Html.ActionLink("Checking Accounts Home", "Index", "Checkings")</p>
    <table class="table">
        <tr>
            <th>
                Account Name
            </th>
            <th>
                Account Number
            </th>
            <th>
                Account Balance
            </th>
            <th>
                Account Pending Balance
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.CheckingAccounts)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                <td>@Html.DisplayFor(modelItem => item.PendingBalance)</td>
                <td>
                    @Html.ActionLink("Change Account Name", "Edit", "Checkings", new { id = item.CheckingID }, null) |
                    @Html.ActionLink("Transaction Search/Details", "Details", "Checkings", new { id = item.CheckingID }, null) 
                </td>
            </tr>

        }

    </table>
}

@if (Model.SavingAccounts.Count > 0)
{
<h4>Savings Account(s)</h4>
<p>@Html.ActionLink("Saving Accounts Home", "Index", "Savings")</p>
<table class="table">
    <tr>
        <th>
            Account Name
        </th>
        <th>
            Account Number
        </th>
        <th>
            Account Balance
        </th>
        <th>
            Account Pending Balance
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.SavingAccounts)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
            <td>@Html.DisplayFor(modelItem => item.PendingBalance)</td>
            <td>
                @Html.ActionLink("Change Account Name", "Edit", "Savings", new { id = item.SavingID }, null) |
                @Html.ActionLink("Transaction Search/Details", "Details", "Savings", new { id = item.SavingID }, null)
                
            </td>
        </tr>
    }

</table>
}

@{if (Model.IRAAccounts.Count > 0)
    {
    <h4>IRA Account</h4>
    <p>@Html.ActionLink("IRA Accounts Home", "Index", "IRAs")</p>
    <table class="table">
        <tr>
            <th>
                Account Name
            </th>
            <th>
                Account Number
            </th>
            <th>
                Account Balance
            </th>
            <th>
                Account Pending Balance
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.IRAAccounts)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                <td>@Html.DisplayFor(modelItem => item.PendingBalance)</td>
                <td>
                    @Html.ActionLink("Change Account Name", "Edit", "IRAs", new { id = item.IRAID }, null) |
                    @Html.ActionLink("Transaction Search/Details", "Details", "IRAs", new { id = item.IRAID }, null)
                    
                </td>
            </tr>
        }

    </table>
        }
    }

@if (Model.StockAccount.Count > 0)
{
    <h4>Stock Portfolio</h4>
    <p>@Html.ActionLink("Stock Accounts Home", "Index", "StockAccounts")</p>
        <table class="table">
            <tr>
                <th>
                    Account Name
                </th>
                <th>
                    Account Number
                </th>
                <th>
                    Account Value
                </th>
                <th>
                    Cash Balance
                </th>
                <th>
                    Gains
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.StockAccount)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
                    <td>@Html.Raw(StockValue)</td>
                    <td>@Html.DisplayFor(modelItem => item.CashBalance)</td>
                    <td>@Html.DisplayFor(modelItem => item.Gains)</td>
                    <td>
                        @Html.ActionLink("Change Account Settings", "Edit", "StockAccounts") |
                        @Html.ActionLink("Transaction Search/Details", "Details", "StockAccounts")
                    </td>
                </tr>
            }

        </table>
}
