@using LonghornBank.Models;
@model LonghornBank.Models.StockAccount

@{
    ViewBag.Title = "Details";
    // Add to view bag
    List<Trade> Trades = ViewBag.Trades;
    List<BankingTransaction> Trans = ViewBag.Transactions;
    AppUser Customer = ViewBag.Customer;
    SelectList Ranges = ViewBag.Ranges;
    SelectList Dates = ViewBag.Dates;
    Int32 ResultsCount = ViewBag.ResultsCount;
}



<h2>Stock Account Details and Transactions</h2>
<div>
    <h4>Stock Account Details</h4>
    @Html.ActionLink("Buy Stocks", "StockChoices", "StockTrades", null, new { @class = "btn btn-info" })
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CashBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradingFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradingFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gains)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gains)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balanced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balanced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradingFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TradingFee)
        </dd>

    </dl>
</div>


@using (Html.BeginForm("Search", "StockAccounts", FormMethod.Get))
{
    @Html.HiddenFor(model => model.StockAccountID);

    <p class="form-group">

        <div class="row">

            <div class="col-md-6">
                Transaction Description:@Html.TextBox("SearchDescription", null, new { @class = "form-control", @placeholder = "Tax Refund" })<br />
            </div>

            <div class="col-md-6">
                Transaction Number:@Html.TextBox("SearchTransactionNumber", null, new { @class = "form-control", @placeholder = "28" })<br />
            </div>

        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="form-check">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.None, true, new { @class = "form-check-input" }) All
                        </label>
                    </div>   
                </div>

                <div class="form-check">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.Deposit, new { @class = "form-check-input" }) Deposit
                        </label>
                </div>
            </div>
        </div>

            <div class="row">

                <div class="form-check">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.Withdrawl, new { @class = "form-check-input" }) Withdrawl
                        </label>
                    </div>
                </div>

                <div class="form-check">
                    <div class="col-md-6">

                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.Transfer, new { @class = "form-check-input" }) Transfer
                        </label>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="form-check">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.Fee, new { @class = "form-check-input" }) Fee
                        </label>
                    </div>
                </div>

                <div class="form-check">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedType", BankingTranactionType.BillPayment, new { @class = "form-check-input" }) Bill Payment
                        </label>
                    </div>
                </div>
            </div>

        </div>
  </p>

    <div class="row">

        <div class="form-check">
            <div class="col-md-4">
                Amount Range @Html.DropDownList("SearchAmountRange", Ranges, new { @class = "form-control" })
                <br />
            </div>
        </div>

        <p class="form-check">
            <div class="col-md-4">
                Start Amount Custom Range @Html.TextBox("SearchAmountBegin", null, new { @class = "form-control", @placeholder = "1000" })
                <br />            
            </div>
        </p>

        <p class="form-check">
            <div class="col-md-4">
                End Amount Custom Range @Html.TextBox("SearchAmountEnd", null, new { @class = "form-control", @placeholder = "1000" })
                <br /> 
            </div>
        </p>

    </div>
    

    <div class="row">

        <div class="form-check">
            <div class="col-md-4">
                Date Range @Html.DropDownList("DateRange", Dates, new { @class = "form-control" })
                <br />
            </div>
        </div>

        <p class="form-check">
            <div class="col-md-4">
                Start Date @Html.TextBox("BeginSearchDate", null, new { @class = "form-control", @placeholder = "mm/dd/yyyy" })
                <br />
            </div>
        </p>

        <p class="form-check">
            <div class="col-md-4">
                End Date @Html.TextBox("EndSearchDate", null, new { @class = "form-control", @placeholder = "mm/dd/yyyy" })
                <br />
            </div>
        </p>

    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransIDAsc, true, new { @class = "form-check-input" }) Transaction ID Ascending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransIDDec, new { @class = "form-check-input" }) Transaction ID Decending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransTypeAsc, new { @class = "form-check-input" }) Transaction Type Ascending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransTypeDec, new { @class = "form-check-input" }) Transaction Type Decending
                </label>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransDescriptionAsc, new { @class = "form-check-input" }) Transaction Description Ascending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransDescriptionDec, new { @class = "form-check-input" }) Transaction Description Descending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransAmountAsc, new { @class = "form-check-input" }) Transaction Amount Ascending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransAmountDec, new { @class = "form-check-input" }) Transaction Amount Descending
                </label>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransDateAsc, new { @class = "form-check-input" }) Transaction Date Ascending
                </label>
            </div>

            <div class="col-md-3">
                <label class="form-check-label">
                    @Html.RadioButton("SortType", SortingOption.TransDateDec, new { @class = "form-check-input" }) Transaction Date Descending
                </label>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}

    <h4>Trades</h4>
    <hr />
    <table class="table">
    <tr>
        <th>
            Trade ID
        </th>
        <th>
            Trade Type
        </th>
        <th>
            Trade Date
        </th>
        <th>
           Ticker
        </th>
        <th>
            Company Name
        </th>
        <th>
            Amount
        </th>
        <th>
            Price Per Share
        </th>
        <th>
            Current Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Fees
        </th>
        <th></th>
    </tr>

    @foreach (Trade t in Trades)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => t.TradeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.TradeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.Ticker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.StockMarket.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.PricePerShare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.StockMarket.StockPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.StockMarket.Fee)
            </td>
            <td>
                @Html.ActionLink("Trade Details", "TradeDetails", "StockTrades", new { id = t.TradeID }, null)
            </td>
        </tr>
    }

</table>


<h4>Transactions</h4>
<hr />
<p>Records: @Html.Raw(ResultsCount)</p>
<table class="table">
    <tr>
        <th>
            Transaction ID
        </th>
        <th>
            Transaction Type
        </th>
        <th>
            Transaction Date
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
        <th></th>
    </tr>

    @foreach (BankingTransaction t in Trans)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => t.BankingTransactionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.BankingTransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.Amount)
            </td>
            
            <td>
                @Html.ActionLink("Details", "Details", "BankingTransactions", new { id = t.BankingTransactionID, choice = 4, AccountId = Model.StockAccountID }, null)
            </td>
        </tr>
    }

</table>
    
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockAccountID }) |
    @Html.ActionLink("Stock Account Home", "Index")
</p>
