@model LonghornBank.Models.BankingTransaction

@{
    ViewBag.Title = "Details";
    List<LonghornBank.Models.BankingTransaction> OtherTransactinos = ViewBag.OtherTransactions;
    Int32 AccountId = ViewBag.AccountId;
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDispute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDispute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisputeMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisputeMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerOpinion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerOpinion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectedAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectedAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankingTransactionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankingTransactionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.ManagerDisputeMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model=> model.ManagerDisputeMessage)
        </dd>

    </dl>

    <h4>Similar Transactions</h4>

    <table class="table">
        <tr>
            <th>
                Description
            </th>
            <th>
                Transaction Type
            </th>
            <th>
                Transaction Number
            </th>
            <th>
                Amount
            </th>
            <th>
                Employee Comments
            </th>
            <th></th>
        </tr>



        @foreach (var item in OtherTransactinos)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.BankingTransactionType)</td>
                <td>@Html.DisplayFor(modelItem => item.BankingTransactionID)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.ManagerDisputeMessage)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "BankingTransactions", new { id = item.BankingTransactionID }, null) |
                    @Html.ActionLink("Details", "Details", "BankingTransactions", new { id = item.BankingTransactionID , choice = 1, AccountId = AccountId}, null)
                </td>
            </tr>
        }
    </table>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankingTransactionID }) |
    
</p>
