@model LonghornBank.Models.IRAViewModel
@using LonghornBank.Models

@{
    ViewBag.Title = "IRAWithdrawalError";
}

<h2>IRA Withdrawl Error</h2>

@using (Html.BeginForm("IRAWithDrawalError", "BankingTransactions", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PayeeTransaction.BankingTransactionID)
        @Html.HiddenFor(model => model.PayeeTransaction.BankingTransactionType)
        @Html.HiddenFor(model => model.PayeeTransaction.Description)
        @Html.HiddenFor(model => model.PayeeTransaction.TransactionDate)
        @Html.HiddenFor(model => model.CustomerProfile.Id)
        @Html.HiddenFor(model => model.CheckingAccounts.CheckingID)
        @Html.HiddenFor(model => model.IRAAccounts.IRAID)
        @Html.HiddenFor(model => model.SavingAccounts.SavingID)
        @Html.HiddenFor(model => model.StockAccounts.StockAccountID)
        @Html.HiddenFor(model => model.IRAAccounts.RunningTotal)
        @Html.HiddenFor(model => model.PayeeTransaction.Amount)

        <div class="form-group">
            Would you like to add the fee to your withdrawal?
       </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" name="submit" class="btn btn-default" />
            </div>
        </div>

        <div>
            Would you like to have the fee included in your withdrawl? @Html.ActionLink("Include", "IRAWithDrawalError", "BankingTransactions", new { submit = "Include" })
        </div>

    </div>
}

