@model IEnumerable<LonghornBank.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Portal</h2>

<p>
    @Html.ActionLink("Add New Checking Account", "Create", "Checkings") | 
    @Html.ActionLink("Add New Savings Account", "Create", "Savings") |
    @Html.ActionLink("Add New IRA", "Create", "IRA") |
    @Html.ActionLink("Add New Stock Account", "Create", "StockAccounts") | 
    @Html.ActionLink("Add New Transaction", "Create", "BankingTransactions")

</p>

<h3>Accounts</h3>
<h4>Checking Account(s)</h4>
<table class="table">

@foreach (var item in Model) {
    foreach (var element in item.CheckingAccounts)
    {
        @Html.DisplayFor(modelItem => element.AccountNumber)
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID })
        </td>
    </tr>
}

</table>
