@using LonghornBank.Models;
@model IEnumerable<LonghornBank.Models.Checking>

@{
    ViewBag.Title = "Index";
}

<h2>Checking Account Home</h2>

<p>
    @Html.ActionLink("New Transaction", "Create", "BankingTransactions") | 
    @Html.ActionLink("Transactions Page", "Index", "BankingTransactions") | 
    @Html.ActionLink("Delete Account", "Delete") | 
    @Html.ActionLink("Edit Account", "Edit", new { id=1})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PendingBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PendingBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to All Accounts", "Index", "Customers")
